/* About.css */
body{
    background-image: linear-gradient(to left, #198488,#40a2b6);
      background-size: cover;
  }
  .about-container {
      max-width: 800px; /* Adjust as needed */
      margin: 0 auto; /* Center the container horizontally */
      padding: 20px;
    }
    
    .about-container h1 {
      font-size: 24px;
      margin-bottom: 20px;
      
    }
    
    .about-container p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 15px;
      
    }
    
    .about-container a {
      color: #007bff; /* Link color */
      text-decoration: underline;
    }
    .t-color{
      color:rgb(8, 8, 8);
      padding-left: 30px;
    }
    .about-container a:hover {
      text-decoration: none; /* Remove underline on hover */
    }
    .container-about {
      width: 100%; /* Adjust as needed */
  max-width: 800px; /* Adjust as needed */
   /* Center the container horizontally */
   margin-left: 120px;
   margin-top: 120px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #0a4d682f;
    }
    .nav-items{
      margin-left: 1200px;
    }